<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 minutes">
    <property name="log.file.name" value="spring_boot_demo"/>
    <property name="log.file.postfix.info" value=".info"/>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-24(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{32} [%file:%line] - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="rolling_file_info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Append>true</Append>
        <File>${log_dir}/${log.file.name}${log.file.postfix.info}</File>
        <encoder>
            <pattern>%-24(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{32} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>5</maxIndex>
            <FileNamePattern>${log_dir}/${log.file.name}${log.file.postfix.info}.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    <root level="info">
        <appender-ref ref="stdout"/>
        <!--<appender-ref ref="rolling_file_info"/>-->
    </root>
</configuration>